extends ../layouts/common.pug

block content
    .fex-direction-row.d-flex.flex-wrap.justify-content-center
        each product in products
            a(href="/products/"+product.id)
                .card(style='width: 300px;').m-3
                    img.card-img-top(src=product.image)
                    .card-body
                        h5.card-title=product.name
                        p.card-text=product.description
                        a.btn.btn-primary(href='/cart/add/'+product.id) Add to Cart
    nav(aria-label='...').paging.d-flex.justify-content-center
        ul.pagination
            if previous===0
                li.page-item.disabled
                    a#previous.page-link(tabindex='-1', aria-disabled='true',style="cursor: pointer;") Previous
            else
                li.page-item
                    a#previous.page-link(href='/products?page='+previous,tabindex='-1', aria-disabled='true',style="cursor: pointer;") Previous
            - for (var x = sumPage; x < sumPage+3; x++ )    
                if x===(next-1)
                    li.page-item.active
                        a.page-link(href='/products?page='+x)=x
                else
                    li.page-item
                        a.page-link(href='/products?page='+x)=x
            li.page-item
                a#next.page-link(href='/products?page='+next,tabindex='-1', aria-disabled='true',style="cursor: pointer;") Next